/*

* Override Pages default styles or create your own styles here

*/
.ADDED-BY-JOHN {
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.table tbody tr td {
    padding-right: .75rem;
    padding-left: .75rem;
}

.brand h1.brand-text {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
}

.card .card-header + .card-block {
    /* padding-top: 20px; */
}

.profile-information .profile-photo {
    /* padding-bottom: 10px; */
}

.profile-information .profile-photo>img {
    margin-right: 30px;
    vertical-align: top;
}

.fav-locations {
    position: relative;
}

.fav-locations .fav-location {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 0 20px 20px 0;
    padding: 20px;
}

.fav-locations .fav-location h4 {
    font-weight: 400;
    margin-top: 0;
}

.payment-methods table tr td p {
    font-size: 15px;
}

.payment-methods table tr td p .fa {
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.table tbody tr td.action a{
    text-decoration: underline;
}

.modal-add-method .nav-tabs ~ .tab-content {
    padding;
    padding: 30px 0 0;
}

/* Business */
.horizontal-app-menu.business .menu-bar > ul {
    margin: 0 auto;
}

.deliveries-nav, .deliveries-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.deliveries-nav {
    display: block;
    text-align: center;
    padding: 4px 0;
}

.deliveries-nav li {
    display: inline-block;
    margin: 0 12px;
}

.deliveries-nav li:last-child {
    border-right: none;
}

.deliveries-nav li a {
    color: #85858e;
    opacity: 0.6;
}

.delivery-summary {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 30px 0 0;
}

.delivery-summary h2 {
    line-height: normal;
    text-align: center;
    margin: 0 0 15px;
}

.delivery-summary .summary {
    font-size: 32px;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.13);
    margin: 0 0 30px;
    padding: 20px;
}

.delivery-summary .summary h4 {
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
}

.delivery-summary-table {
    margin: 0 -20px;
}

.fav-locations .fav-location.new-dropoff-location {
    width: 125px;
    cursor: pointer;
}

.fav-locations .fav-location.new-dropoff-location:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.business-payment-methods td i, .business-payment-methods td span {
    display: inline-block;
    font-size: 16px;
}

.business-payment-methods td i {
    font-size: 20px;
    margin-right: 10px;
}

.business-payment-methods td span {
    margin-right: 20px;
}

.business-payment-methods td span.label {
    font-size: 14px;
    padding: 6px 9px;
}

ul.tbl-actions, ul.tbl-actions li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tbl-actions li {
    display: inline-block;
    margin-right: 10px;
}

ul.tbl-actions li a {
    font-size: 16px;
    border-bottom: 1px solid #07c25f;
    padding-bottom: 1px;
}

ul.tbl-actions li:last-child {
    margin-right: 0;
}

ul.breadcrumb-new-delivery, ul.breadcrumb-new-delivery li {
    list-style: none;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

ul.breadcrumb-new-delivery li {
    display: inline-block;
    margin-right: 10px;
}

ul.breadcrumb-new-delivery li a {
    display: block;
    border-bottom: 1px solid #069d4d;
}

.row-checkbox {
    position: relative;
}

.row-checkbox:after {
    content: "";
    display: table;
    clear: both;
}

.w-50 {
    width: 50px !important;
}

@media (min-width: 992px) {
    .table tbody tr td.action {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .profile-information .profile-info .m-b-10 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Custom Grid: 5 Column */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}